/* Float placeholder layout */

div.Float-placeholder {
  position: relative;
  display: block;
  border: 0.01em solid #2c2a29;
  padding: 0.9em;
  padding-bottom: 0.1em;
  border-radius: 4px;
}

div.Float-placeholder > textarea,
div.Float-placeholder > input,
div.Float-placeholder > select {
  background-color: transparent;
  border: none;
  width: 100%;
  position: relative;
  z-index: 2;
  color: #2c2a29;
}

div.Float-placeholder > input::placeholder {
  font-size: 0em;
}

div.Float-placeholder > input:focus::placeholder {
  font-size: 0.75em;
  color: #bbb;
}

div.Float-placeholder > input:required,
div.Float-placeholder > input:invalid {
  box-shadow: none;
}

div.Float-placeholder > label {
  position: absolute;
  z-index: 1;
  left: 1rem;
  transition: 0.2s;
  background-color: white;
  font-size: 0.8em;
}

div.Float-placeholder > textarea:focus,
div.Float-placeholder > input:focus,
div.Float-placeholder > select:focus {
  outline: 0;
}

div.Float-placeholder > textarea:focus + label,
div.Float-placeholder > textarea:valid + label,
div.Float-placeholder > textarea:disabled + label,
div.Float-placeholder > input:focus + label,
div.Float-placeholder > input:valid + label,
div.Float-placeholder > input:disabled + label,
div.Float-placeholder > select:focus + label,
div.Float-placeholder > select:valid + label,
div.Float-placeholder > select:disabled + label {
  top: 0.1rem;
  font-size: 0.7em;
}

div.Float-placeholder > textarea:disabled,
div.Float-placeholder > input:disabled,
div.Float-placeholder > select:disabled {
  color: #333;
  opacity: 1;
  -webkit-text-fill-color: #333;
}

div.Float-placeholder.is-invalid {
  border-color: #d73043;
  border-style: solid;
  border-width: 1.5px;
}

.u-textUnderline {
  text-decoration: underline;
}

.u-cursorPointer {
  cursor: pointer;
}

.rccs {
  width: 100% !important;
  margin: 0 !important;
}

.rccs__card {
  height: 16em !important;
  width: 100% !important;
  margin: 0 !important;
}

.u-round {
  border-radius: 50% !important;
}